@import 'tailwindcss';

/* paleta de cores */
@theme {
  --color-azul: #023047; 
  --color-amarelo: #FFB703;
  --color-ciano: #8ECAE6;
  --color-laranja: #FB8500;
  --color-branco: #FFFFFF;
  --color-preto: rgba(0, 0, 0, 0.5);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  @apply bg-ciano
} */